body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#main{
    display: flex;
    justify-self: center;
    border: 2px transparent;
    box-shadow:rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}
#options{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 16px;
    padding: 16px;
}

#grid {
    
    height: 700px;
    width: 700px;
    margin:15px;
    
}
.cell {
    display: flex;
    height:auto;
    width: auto;
    justify-content: stretch;
}
